<div class="row">
    <div class="col-sm-8">
        <h1>{{title}}</h1>
        <a class="btn btn-success m-4"
           routerLink="/add-new">
           Add New
        </a>
        <div class="list-group">
            <a *ngFor="let contact of contacts"
                class="list-group-item list-group-item-action"
                (click)="onSelectContact(contact._id)"
                [class.active]="contact === selectedContact">
                <button class="close ml-5 text-danger p-1"
                        (click)="deleteContact($event,contact._id)">
                    &times;
                </button>
                <h4>
                    {{contact.firstName}} {{contact.lastName}} 
                    <small class="text-muted float-right">
                        {{contact.created|date:format:'dd.MM.yyyy'}}
                    </small>
                </h4>
                <p>
                    <span class="badge badge-success">
                        {{contact.email}}
                    </span>
                    <span class="badge badge-primary"
                          *ngIf="contact.phone">
                        {{contact.phone}}
                    </span>
                </p>
            </a>
        </div>
    </div>
    <div class="col-sm-4"  
         *ngIf="selectedContact">
        <app-contact-details
           [selected-contact]="selectedContact"
           (contactUpdated)="getContacts()">
        </app-contact-details>
    </div>
</div>